@charset "utf-8";

body{
    background-color: white;
    padding: 0 10%;

}
div #wrapper{
    max-width: 70%;
    background-color: blue;
}
header{
    margin-bottom: -4px;
}
div#barra{
    background-color: black;
    width: 100%;
    height: 40px;
}
figure{
    position: absolute;
    left: 15%;
    top: 7%;
}
div#menu{
    
    width: 100%;
    background-image: linear-gradient(black,gray,white, white);
    display: inline-block;
       
}
div#menu li a{
    color: #b6185e;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:8px;
    font-size: 16pt;
    margin-left: 20px;
}
ul#top{
    float: right;
    padding:5px;
    width:70%;
    margin-right: 10px;
    display: flexbox;
    
}
ul#top li{
    display: inline;
    padding:5px;
    float: right;
    
}
ul#top li:hover a{       
   border-bottom-style:solid;
   border-bottom-color:#ffef0d;
   padding-bottom: 23px;   
}
 div #banner{
    background-color: blue;
    width: 100%;
   
 }   
 section.seccao1{
     position:relative;
     width: 100%;
     display: inline-block;
     padding: 0%;
     margin: 0%;  
 }
 
