@charset "utf-8";

body{
    background-color: white;
    padding: 0 10%;
    position:relative;

}
div #wrapper{
    width: 100%;
    background-color: blue;
}
header{
    margin-bottom: -4px;
}
div#barra{
    background-color: black;
    width: 100%;
    height:4em;
}
figure{
    position: absolute;
    left: 15%;
    top: 7%;
}
div#menu{
    
    width: 100%;
    background-image: linear-gradient(black,gray,white, white);
    display: inline-block;
       
}
div#menu li a{
    color: #b6185e;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:8px;
    font-size: 16pt;
    margin-left: 20px;
}
ul#top{
    float: right;
    padding:5px;
    width:70%;
    margin-right: 10px;
    display: flexbox;
    
}
ul#top li{
    display: inline;
    padding:5px;
    float: right;
    
}
ul#top li:hover a{       
    border-bottom: 5px;
   border-bottom-style:solid;
   border-bottom-color:#ffef0d;
   padding-bottom: 20px;   
}
 div #banner{    
    width: 100%;   
 }   
 section.seccao1{
     position:relative;
     width: 100%;
     display: inline-block;
     padding: 0%;
     margin: 0%;  
 }
 h1{
     text-transform: uppercase;     
 }
 h2{
    
    text-transform: uppercase;
    font-size: 16px;
 }
 div#sobre{
     display: block;
     width: 100%;     
 }
 section#sobre1{
    display: block;
    width: 60%;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    float:left;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    
 }
section#sobre1 h1{
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px; 
    font-size:xx-large;   
}
section#sobre1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 2px; 
    font-size:medium;   
}
 aside#lateral{
    margin-top: 10px;
    display: block;
     float: left;
     width: 350px;

 }  

div#imag{
width: 100%;
height: fit-content;
margin-top: 10px;
}
section#corpo2{    
    display: block;
    width: 100%;
    border: 0px;
    margin-left: auto;
    margin-right: auto;    
    float:left;   
    padding-bottom: 5px;
    box-sizing: border-box;
}
div#divlogo{
    float:left;
    margin-left: 45%;
    margin-right: 45%;
    padding-bottom: 15px;
}
footer{
    width: 100%;
    float: left;
    background-color: black;
    color: white;
    margin-top: -9px;
}
 
